<ion-view title="Participantes">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list">

		  <li class="item item-checkbox" ng-repeat="participante in participantes">
		     <label class="checkbox">
		       <input type="checkbox" ng-checked="participante.activo">
		     </label>
		     {{participante.nombre}}
		  </li>
		   <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Nombre" ng-model="nuevo_nombre">
		    </label>
		    <button class="button button-small" ng-click="add_nuevo_participante(nuevo_nombre);nuevo_nombre=undefined">
		      Añadir
		    </button>
		  </div>
		</ul>
  </ion-content>
</ion-view>
